@charset 'UTF-8'
@import url('/assets/iconfont/iconfont.css');

.column {
  display: inline-block;
  box-sizing: border-box;

  &.col-1 {
    width: 8.333%;
  }

  &.col-4 {
    width: 33.33%;
  }

  &.space10 {
    padding: 10px;
  }
}